:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#f8f8f8; 
--white_A700_b2:#ffffffb2; 
--deep_orange_A100:#ffb573; 
--black_900_b2:#000000b2; 
--blue_A400:#2f88ff; 
--pink_900:#7f3e3b; 
--light_blue_700:#0189cd; 
--red_200:#f28f8f; 
--light_blue_800_66:#0574b266; 
--green_900:#008000; 
--red_400:#f44747; 
--black_900_3f:#0000003f; 
--yellow_A200:#ffff00; 
--light_blue_700_99:#0189cd99; 
--green_A700:#04d904; 
--yellow_800:#f79e1b; 
--teal_900:#022c49; 
--gray_200_01:#ebebeb; 
--blue_gray_700:#455a64; 
--blue_gray_900:#263238; 
--red_A700:#f80505; 
--teal_900_99:#022c4999; 
--black_900_4c:#0000004c; 
--lime_A700_33:#cdc40133; 
--blue_gray_100:#d9d9d9; 
--gray_200:#f0f0f0; 
--black_900_99:#00000099; 
--red_A700_02:#eb001b; 
--red_A700_01:#ff0000; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_59:#00000059; 
--red_300:#b16668; 
--green_800:#06b006; 
--gray_50:#fafafa; 
--light_blue_800:#0574b2; 
--white_A700_cc:#ffffffcc; 
--light_blue_700_33:#0189cd33; 
--black_900:#000000; 
--blue_gray_800:#37474f; 
--pink_800:#9a4a4d; 
--deep_orange_200:#ffa8a7; 
--deep_orange_400:#ed893e; 
--teal_900_33:#022c4933; 
--gray_500:#999999; 
--orange_A700:#ff5f00; 
--gray_900:#630f0f; 
--light_blue_800_99:#0574b299; 
--gray_300:#e0e0e0; 
--gray_300_01:#e6e6e6; 
--gray_100:#f5f5f5; 
}